<div class="container mainconatiner">
    <div class="card-columns">
        <div class="card  cardcursor flip-card" routerLink="/employee-list">
          <div class="card-body bg-info text-center flip-card-inner">
            <p class="card-text" style="color: white;">Employee</p>
          </div>
        </div>
        <div class="card  cardcursor flip-card" routerLink="/contact-list">
            <div class="card-body bg-light text-center flip-card-inner">
              <p class="card-text" style="color: black;">Contact</p>
            </div>
          </div>
        <div class="card cardcursor flip-card" routerLink="/customer-list">
          <div class="card-body bg-info text-center flip-card-inner">
            <p class="card-text" style="color: white;">Customer</p>
          </div>
        </div>  
    </div>
</div>