.headercontent {
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  @media only screen and (max-width: 767px) {
    font-size: 1.2rem;
  }
}
.header-one {
  margin-right: 1rem;
}
.mainheadercontent {
  float: right;
  margin-top: 10px;
}
.mat-card {
  padding: 0;
}
.mat-card-content {
  background: #fff;
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
   height: 100%;
  border-radius: 5px;
}
.wrapper {
  border-bottom: 1px solid #d0d2d4;
}
.top-right-section{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .user-img{
    width: 15%;
    margin-right: 4px;
  }
}

.cardcontent figure {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-card-content a {
  color: #333;
  text-decoration: none;
}

.card-one {
  align-items: center;
  padding: 25px 10px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 1200px) {
    justify-content: space-around;
  }
}
.card {
  @media only screen and (max-width: 1200px) {
    align-items: center;
    padding: 25px 10px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem !important;
  }
  @media only screen and (max-width: 767px) {
    margin-bottom: 1rem !important;
    padding: 30px 10px;
  }
}
.m-none{
  display: flex;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.img-fluid {
  max-width: 50% !important;
  background: #f8d276;
  padding: 1rem;
  border-radius: 46px;
}
.icon {
  background-color: #f8d276;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  color: #1a194a;
  display: flex;
  align-items: center;
  justify-content: center;
}
