<header>
    <div class="row align-items-center">
       
        <div class="col-md-12 text-end d-none d-md-block">
        <a href="#" class="text-black p-2 me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#1a194a" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg></a>
            <div class="dropdown   d-inline-block">

                <img class="user-img me-2" src="/assets/avatar.png">
                Welcome {{user.name | titlecase}}
                <button class="btn btn-outline-dark dropdown-toggle ms-2 " href="#" role="button"
                id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false" appDropdown    >
                </button>

                <ul class="dropdown-menu" >
                    <li><span class="dropdown-item-text" (click)="logout()">Logout</span></li>
                </ul>
            </div>
        </div>
    </div>
</header>