<div class="container mainconatiner">
    <div>
      <span class="alert alert-success" *ngIf="successmsg!==''">{{successmsg}}</span>
      <span class="alert alert-danger" *ngIf="erromsg!==''">{{erromsg}}</span>   
      <button type="button" class="btn btn-primary" style="float: right; margin-bottom: 10px;">
      <span class="glyphicon glyphicon-plus">
      </span><a href="/contact-register" style="color: white; text-decoration: none;"> Add New Contact</a>
    </button>
    </div>
  <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">NAME</th>
          <th scope="col">EMAIL</th>
          <th scope="col">refCustomeId</th>
          <th scope="col">Contact Id</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of contactList">
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td *ngIf="item.refCustomeId.name!==null">{{item.refCustomeId.name}}</td>
          <td>{{item.contactId}}</td>
          <td>
            <button type="button" class="btn btn-default btn-sm"  [routerLink]="[ '/update-contact',item.id]"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
            <button type="button" class="btn btn-default btn-sm" (click)="deleteContact(item.id)"><span class="glyphicon glyphicon-remove"></span> Remove</button>
          </td>
          
        </tr>
      </tbody>
    </table>
    </div>
  