.mainconatiner{
    margin-top: 10px;
}

.contractheader{
    margin-top: 5px;
    background-color: #EBEDEF ;
}
table {
    width: 100%;
  }

  .sideheader{
    font-weight: bold;
  }

  textarea{
    width: 99%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border: solid 2px;
    border-color: darkgrey;
  }

  .interactioscontainer{
    margin-left: 5px;
    color: #32bbe9;
  }